// color
$black: #17202a;
$white: #fff;
$red: #ec7063;
$orange: #f39c12;
// super light blue
$slblue: #ebf5fb;
// light blue
$lblue: #e5f0ff;
// deep blue
$dblue: #d1e4ff;
// border blue
$bblue: #003d8e;
