<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT대학 사물함 예약 웹사이트</title>
    <link rel="stylesheet" href="../../static/main.css" />
</head>

<body>
    <header>
        <h1>IT대학 사물함 예약 웹사이트 3.0</h1>
    </header>
    <main>
        <div id="infoDiv">
            <ul>
                <li>
                    <span class="bold">전자정보공학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
                <li>
                    <span class="bold">컴퓨터학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
                <li>
                    <span class="bold">글로벌미디어학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
                <li>
                    <span class="bold">소프트웨어학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
                <li>
                    <span class="bold">AI융합학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
            </ul>
        <div id="loginDiv">
            <span id="passwdRule">비밀번호는 학우님의 휴대전화 뒤 8자리입니다.</span>
            <span id="passwdExample">Ex) 010-1234-5678인 경우: 12345678</span>
            <form id="loginForm" action="#" class="bold">
                <!-- 학번 -->
                <label for="studentNum">학번</label>
                <input type="number" id="studentNum" />
                <!-- 비밀번호 -->
                <label for="pwd">비밀번호</label>
                <input type="password" id="pwd" />
                <!-- submit -->
                <button type="submit">로그인</button>
            </form>
        </div>
    </main>
    <footer>
        <p>
            제작자 : <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="height:1em;"></img> <span><a
                    href="https://github.com/amuguna1mandeum">Github</a></span>
        </p>
    </footer>
</body>

</html>