<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website">
    <title>IT대학 사물함 예약 웹사이트</title>
    <meta property="og:title" content="IT대학 사물함 예약">
    <meta name="description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다.">
    <meta property="og:description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다.">
    <meta name="keywords" content="숭실대학교, IT대학, 사물함">
    <meta property="og:image" content="https://i.imgur.com/v2UpZTg.png">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
</head>

<body>
    <header>
        <h1>IT대학 사물함 예약 웹사이트 3.0</h1>
    </header>
    <main>
        <div id="infoDiv">
            <ul>
                <li>
                    <span class="bold">전자정보공학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
                <li>
                    <span class="bold">컴퓨터학부</span>
                    {% if cs_left %}
                    <span>{{cs_left}} / {{cs_lockers}}</span>
                    {% else %}
                    <span>no left</span>
                    {% endif %}
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
                <li>
                    <span class="bold">글로벌미디어학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
                <li>
                    <span class="bold">소프트웨어학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
                <li>
                    <span class="bold">AI융합학부</span>
                    <span>99/100</span>
                    <span>2022.01.01(토)</span>
                    <span>00:00 ~ 00:00</span>
                </li>
            </ul>
            <button onclick="popupClose('contactDiv')" id="popup-close">문의사항</button>
        </div>
        <div id="loginDiv">
            <span id="passwdRule">💡 비밀번호는 학우님의 휴대전화 뒤 8자리입니다.</span>
            <span id="passwdExample">예시) 010-1234-5678인 경우: 12345678</span>
            <form id="loginForm" action="{% url 'locker:login' %}" class="bold post-form" method="post">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <!-- 학번 -->
                <div class="inputDiv">
                    <label for="username">학번</label>
                    <input type="text" id="username" class="form-control" name="username"
                        value="{{ form.username.value|default_if_none:'' }}" />
                </div>
                <!-- 비밀번호 -->
                <div class="inputDiv">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="password"
                        value="{{ form.password.value|default_if_none:'' }} " />
                </div>
                <!-- submit -->
                <button type="submit">로그인</button>
            </form>
        </div>
    </main>
    <div id="contactDiv" class="hidden">
        <button onclick="popupClose('contactDiv')" id="popup-close">닫기</button>
        <ul>
            <li>
                <span>전자정보공학부</span>
                <span>010-1234-5678</span>
            </li>
            <li>
                <span>컴퓨터학부</span>
                <span>010-1234-5678</span>
            </li>
            <li>
                <span>글로벌미디어학부</span>
                <span>010-1234-5678</span>
            </li>
            <li>
                <span>소프트웨어학부</span>
                <span>010-1234-5678</span>
            </li>
            <li>
                <span>AI융합학부</span>
                <span>010-1234-5678</span>
            </li>
        </ul>
    </div>
    <footer>
        <p>제작자 : <span><a href="https://github.com/amuguna1mandeum"><img alt="#" src="https://i.imgur.com/vxsETgn.png"
                        style="height:1em;"></img>
                    Github</a></span></p>
    </footer>
</body>

</html>