<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:type" content="website" />
  <title>IT대학 사물함 예약 웹사이트</title>
  <meta property="og:title" content="IT대학 사물함 예약" />
  <meta name="description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다." />
  <meta property="og:description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다." />
  <meta name="keywords" content="숭실대학교, IT대학, 사물함" />
  <meta property="og:image" content="https://i.imgur.com/v2UpZTg.png" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>

<body>
  <header>
    <h1>IT대학 사물함 예약 웹사이트 3.0</h1>
  </header>

  <nav class="nav">
    <ul>
      <li><span onclick="popupClose('infoPopupDiv')">내 사물함</span></li>
      <li><span onclick="popupClose('registerPopupDiv')">예약 / 변경</span></li>
      <li><span>취소</span></li>
      <li><span onclick="location.href='{%url 'locker:logout' %}'">로그아웃</span></li>
    </ul>
  </nav>

  <main>
    <div id="popup">
      <div id="infoPopupDiv">
        <button onclick="popupClose('infoPopupDiv')">X</button>
        <span id="userDep2">{{user.department}}</span>
        <span id="userName">{{username}}님</span>
      </div>
      <div id="registerPopupDiv">
        <button onclick="popupClose('registerPopupDiv')">X</button>
        <span>선택한 사물함 : {선택한 사물함}</span>
        <button>예약</button>
        <span class="warning">현재 예약된 사물함{{usercurrlocker}}이 취소됩니다.</span>
      </div>
    </div>
    <div id="lockerlistDiv">
      <div id="lockerSelection">
        <select name="Building" id="building" onchange="selectBuilding(this.value);">
          <option selected disabled>구역을 선택하세요.</option>
          <script>
            //학부에 따라 select option 필터링
            const theSelect = document.querySelector("select#building");
            const _userdepartment = "{{ user.department }}";
            console.log(_userdepartment);
            if (_userdepartment == "EIE") {
              theSelect.innerHTML += `
              <optgroup label="형남공학관">
                  <option value="HN1">형남-1</option>
                  <option value="HN3">형남-3</option>
              </optgroup>`;
            } else if (_userdepartment == "CB") {
              theSelect.innerHTML += `
                <optgroup label="문화관">
                    <option value="CB1">문화-1</option>
                    <option value="CB2">문화-2</option>
                    <option value="CB3">문화-3</option>
                </optgroup>`;
            } else {
              theSelect.innerHTML += `
                <optgroup label="정보과학관">
                    <option value="IS1">정보-1</option>
                    <option value="IS2">정보-2</option>
                    <option value="IS3">정보-3</option>
                </optgroup>`;
            }
          </script>
        </select>
      </div>

      {% if locker_list %}
      <!-- <script>
                selectFloor();
            </script> -->
      <table>
        <thead>
          <tr>
            <th colspan="5">
              <span id="userDep1">{{user.department}}</span>
              <span id="building-floor"></span>
              <span>사물함 목록</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for l in locker_list %}
          <noscript>건물 필터링</noscript>
          <span id="floorFiltering">{% if l.floor == 3 %}</span>
          <noscript>5개씩 출력</noscript>
          {% if forloop.counter|divisibleby:5 != 0 %}
          <td>{{l.lockernum}}</td>
          <tr>
            {% else %}
            <td>{{l.lockernum}}</td>
            {%endif%} {% else %} {%endif%} {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="warning">오류로 인하여 사물함을 표시할 수 없습니다.</p>
      {% endif %}
    </div>
  </main>
  <footer>
    <p>제작자 : <span><a href="https://github.com/amuguna1mandeum"><img alt="#" src="https://i.imgur.com/vxsETgn.png"
            style="height:1em;"></img>
          Github</a></span></p>
  </footer>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/selection.js' %}"></script>
</body>

</html>