<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:type" content="website" />
  <title>IT대학 사물함 예약 웹사이트</title>
  <meta property="og:title" content="IT대학 사물함 예약" />
  <meta name="description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다." />
  <meta property="og:description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다." />
  <meta name="keywords" content="숭실대학교, IT대학, 사물함" />
  <meta property="og:image" content="https://i.imgur.com/v2UpZTg.png" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />


</head>

<body style="align-content: center;">
  <header>
    <h1>IT대학 사물함 예약 웹사이트 3.0</h1>
  </header>
  <button type="button" style="cursor: pointer;" onclick="location.href='{%url 'locker:login' %}'">메인화면으로 돌아가기</button>
  <div id="loginDiv">
    <form action="{% url 'locker:pwchange' %}" method="post" id="loginForm">
      {% csrf_token %}
      {{form}}
      <button class='submitBtn' type="submit" style="cursor: pointer;" onclick=alertMessage()>비밀번호 변경하기</button>
    </form>
  </div>

  <script>

    document.getElementsByClassName('.submitBtn').
    function alertMessage(){
      alert(HttpResponse)
      {% if HttpResponse.content == '비밀번호가 변경되었습니다.' %}
          alert('wkrehd');
          if (window.confirm('{{ message.message }}'))
          {
            location.href='{%url 'locker:login' %}'
          }
          else
          {
              location.href='{%url 'locker:pwchange_login' %}'
          }
      {% else %}
        if (window.confirm('{{ message.message }}'))
            {
              location.href='{%url 'locker:login' %}'
            }
            else
            {
              location.href='{%url 'locker:pwchange_login' %}'
            }
      {% endif %}

      {% if messages %}
        {% for message in messages %}

          
        {% endfor %}
      {% endif %}
    }
    
  </script>


</body>