<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <title>IT대학 사물함 예약 웹사이트</title>
    <meta property="og:title" content="IT대학 사물함 예약" />
    <meta name="description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다." />
    <meta property="og:description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다." />
    <meta name="keywords" content="숭실대학교, IT대학, 사물함" />
    <meta property="og:image" content="https://i.imgur.com/v2UpZTg.png" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>

<body>
    <div id="registerPopupDiv">
        <!-- <span>현재 선택한 사물함: "선택한 사물함"</span> -->
        {% if usercurrlocker %}
        <span class="warning">선택한 사물함 {{usercurrlocker}} 이 취소됩니다.</span>
        {% else %}
        <span class="warning reserveCheck"> </span>
        {% endif %}
        {% csrf_token %}
        <form action="{%url 'locker:reserve' %}" method="POST">
            <button type="submit" name="reservation" value="reserve" class="reserveBtn">예약하기</button>
        </form>    
    </div>
    <script>
        reserveCheck = document.querySelector('.reserveCheck');
        currentSelected = sessionStorage.getItem("lockerData");
        reserveBtn = document.querySelector('.reserveBtn');

        reserveCheck.innerHTML = "선택하신 사물함은 " + currentSelected + "입니다. </br></br>예약하시겠습니까?";
        reserveCheck.style.textAlign = "center";

        reserveBtn.addEventListener('click', async() => {
            try {     
                const response = await fetch('{%url 'locker:reserve' %}', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        lockernum: currentSelected
                    })
                });
                console.log('Completed!', response);
            } catch(err) {
                console.error(`Error: ${err}`);
            }
        });
    </script>
</body>