<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <title>IT대학 사물함 예약 웹사이트</title>
    <meta property="og:title" content="IT대학 사물함 예약" />
    <meta name="description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다." />
    <meta property="og:description" content="IT대학 학우들을 위한 사물함 예약 사이트입니다." />
    <meta name="keywords" content="숭실대학교, IT대학, 사물함" />
    <meta property="og:image" content="https://i.imgur.com/v2UpZTg.png" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <script src="{% static 'main.js' %}"></script>
</head>

<body>
    <div id="registerPopupDiv">
        <!-- <span>현재 선택한 사물함: "선택한 사물함"</span> -->
        <button>예약하기</button>
        {% if usercurrlocker %}
        <span class="warning">선택한 사물함 {{usercurrlocker}} 이 취소됩니다.</span>
        {% else %}
        {% endif %}
    </div>
</body>