[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/lockerweb/ssulocker
EnvironmentFile=/home/ubuntu/venvs/ssulocker.env
ExecStart=/home/ubuntu/venvs/ssulocker/bin/gunicorn \
        --workers 5 \
        --bind unix:/tmp/gunicorn.sock \
        ssulocker.wsgi:application

[Install]
WantedBy=multi-user.target