#contactDiv {
  position: absolute;
  z-index: 999;
  left: 1%;
  bottom: 1%;
  width: 350px;
  margin: auto;
  @media (max-width: 650px) {
    margin-left: 15%;
    width: 70%;
  }
  background-color: $white;
  border: 5px solid $lblue;
  border-radius: 5px;
  box-sizing: border-box;

  ul {
    @include flex-default();
    width: 100%;
    margin: 1%;
    padding: 0;
    list-style: none;
    @media (max-width: 650px) {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  li {
    @include flex-default(flex, flex-end, row, center);
    text-align: center;
    margin: 1%;
    @media (max-width: 650px) {
      @include flex-default(inline-flex, flex-end, column, center);
      flex-wrap: wrap;
      width: 30%;
      margin: 1vh;
    }
  }
  span {
    margin: 0px 5px;
  }
  span:nth-of-type(1) {
    min-width: 10rem;
    @media (max-width: 650px) {
      min-width: 0vh;
      font-size: 12px;
    }
  }
  button {
    appearance: none;
    position: absolute;
    top: -20%;
    right: -1%;
    margin: 1%;
    min-width: 61px;
    min-height: 24px;

    border: none;
    background-color: $slblue;
    box-shadow: 2px 2px 5px $dblue;
    border-radius: 5px;
  }
}

.hidden {
  display: none;
}
