.warning {
  font-weight: bold;
  color: red;
}
.sectorDOWN {
  display: none;
}
.floorDOWN {
  display: none;
}
.selected {
  background-image: url("https://i.imgur.com/j5j1GAZ.png") !important;
  outline: 0;
}

#lockerlistDiv {
  margin-top: 1%;
  margin-left: 15%;
  width: 70%;
  text-align: center;
}

#lockerList {
  @include flex-default;
  text-align: center;
  width: 100%;
  margin-top: 1%;
  table {
    margin: 1%;
    width: 90%;
    tr {
      th {
        width: 100%;
        padding: 1%;
        font-weight: bold;
      }
      td {
        margin: 1%;
        padding: 1%;
        width: 10%;
        text-align: center;
        font-size: 100%;
        border: 3px solid $dblue;
        background-color: $lblue;
      }
    }
  }

  p#lockerTitle {
    margin: 1%;
  }
}

#lockers {
  @include flex-default(flex, center, column, center);
  min-height: 500px;
  max-height: 500px;
  min-width: 90%;
  overflow-x: scroll;
  flex-wrap: wrap;
  border: 3px solid $dblue;
  background-color: $slblue;
  box-shadow: 2px 2px 5px $dblue;
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;

    padding: 0;
    margin: 0.05% 0.5%;
    min-height: 95px;
    max-height: 95px;
    min-width: 70px;
    max-width: 70px;

    appearance: none;
    border: 0;
    background-color: $slblue;
    background-image: url("https://i.imgur.com/7rW94bh.png");
    background-size: 70px;
    background-repeat: no-repeat;
    span {
      color: $lblue;
      font-size: 14px;
      font-weight: 600;
      p {
        font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
          "Malgun Gothic", sans-serif;
      }
    }
  }
}

select {
  -webkit-appearance: button;
  appearance: button;
  width: 250px;
  padding: 1%;
  border: none;
  outline: none;
  box-shadow: 0 5px 25px $dblue;
  font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
    sans-serif;
  background-color: $dblue;
  color: $black;
  option {
    font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
      sans-serif;
    padding: 1%;
  }
}

div#lockermap img {
  max-width: 300px;
  max-height: 300px;
}
