#loginDiv {
  @include flex-default();
  margin: auto;
  margin-top: 3%;
  margin-bottom: 1%;
  width: 60%;
  @media (max-width: 650px) {
    margin: auto;
    width: 70%;
  }
  background-color: white;
  border-radius: 5px;
  * {
    margin: 0.5vh;
  }
  span {
    text-align: center;
    font-size: 1rem;
  }
  span#passwdRule {
    font-weight: 500;
  }
}

#loginForm {
  @include flex-default();
  .inputDiv {
    @include flex-default(flex, center, column, center);
    width: 100%;
    @media (max-width: 650px) {
      @include flex-default(flex, space-between, row, center);
    }
  }
  input {
    border: 3px solid $lblue;
    width: 80%;
    @media (max-width: 650px) {
      width: 60%;
    }
    height: 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px $dblue;
    transition: box-shadow 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  }
  :focus {
    outline: none;
    box-shadow: 3px 3px 3px $darkgray;
  }
  button {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
      Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
      sans-serif;
    appearance: none;
    min-width: 122px;
    min-height: 48px;
    border: none;
    background-color: $slblue;
    border-radius: 5px;
    transition: all 0.3s;
  }
  button:hover {
    background-color: $bblue;
    color: white;
  }
}
