#popup {
  @include flex-default(flex, space-evenly, row, center);
}
#infoPopupDiv {
  @include flex-default(flex, space-evenly, column, center);
  width: 30%;
  height: 100px;
  background-color: $lblue;
  border: 3px solid $dblue;
}

#registerPopupDiv {
  @include flex-default(flex, space-evenly, column, center);
  width: 30%;
  height: 100px;
  background-color: $lblue;
  border: 3px solid $dblue;
}
