#registerPopupDiv {
  button {
    font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
      sans-serif;
    text-align: center;
    padding: 1% 3%;
    font-size: 1.1em;
    list-style: none;
    border: 3px solid $dblue;
    border-radius: 5px;
    background-color: $white;
  }
  :hover {
    background-color: $dblue;
  }
}
