/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 650px) {
  * {
    font-size: min(3vh, 13px) !important;
  }
}

h1 {
  font-size: max(2em, 20px);
}

body {
  font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
}

.bold {
  font-weight: bold;
}

.eie {
  color: #93242a;
}

.cs {
  color: #0a80a4;
}

.gm {
  color: #62cb9b;
}

.sw {
  color: #99c7cd;
}

.aic {
  color: #81c2be;
}

#contactDiv {
  position: absolute;
  z-index: 999;
  left: 1%;
  bottom: 1%;
  width: 350px;
  margin: auto;
  background-color: #fff;
  border: 5px solid #e5f0ff;
  border-radius: 5px;
  box-sizing: border-box;
}
@media (max-width: 650px) {
  #contactDiv {
    margin-left: 15%;
    width: 70%;
  }
}
#contactDiv ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1%;
  padding: 0;
  list-style: none;
}
@media (max-width: 650px) {
  #contactDiv ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#contactDiv li {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 1%;
}
@media (max-width: 650px) {
  #contactDiv li {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin: 1vh;
  }
}
#contactDiv span {
  margin: 0px 5px;
}
#contactDiv span:nth-of-type(1) {
  min-width: 10rem;
}
@media (max-width: 650px) {
  #contactDiv span:nth-of-type(1) {
    min-width: 0vh;
    font-size: 12px;
  }
}
#contactDiv button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: -20%;
  right: -1%;
  margin: 1%;
  min-width: 61px;
  min-height: 24px;
  border: none;
  background-color: #ebf5fb;
  box-shadow: 2px 2px 5px #d1e4ff;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#infoDiv {
  margin: auto;
  margin-top: 3%;
  margin-bottom: 1%;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 650px) {
  #infoDiv {
    margin-left: 15%;
    width: 70%;
  }
}
#infoDiv table {
  width: 80%;
}
@media (max-width: 1200px) {
  #infoDiv table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
#infoDiv tbody {
  width: 100%;
}
@media (max-width: 1200px) {
  #infoDiv tr {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}
#infoDiv td {
  text-align: center;
  padding: 1%;
}
#infoDiv button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 1%;
  min-width: 61px;
  min-height: 24px;
  border: 3px solid #d1e4ff;
  background-color: #ebf5fb;
  box-shadow: 2px 2px 5px #d1e4ff;
  border-radius: 5px;
}

.warning {
  font-weight: bold;
  color: red;
}

.sectorDOWN {
  display: none !important;
}

.floorDOWN {
  display: none;
}

.selected {
  background-image: url("https://i.imgur.com/E4pFw14.png") !important;
  outline: 0;
}

#lockerlistDiv {
  margin-top: 1%;
  margin-left: 15%;
  width: 70%;
  text-align: center;
}

#lockerList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 1%;
}
#lockerList table {
  margin: 1%;
  width: 90%;
}
#lockerList table tr th {
  width: 100%;
  padding: 1%;
  font-weight: bold;
}
#lockerList table tr td {
  margin: 1%;
  padding: 1%;
  width: 10%;
  text-align: center;
  font-size: 100%;
  border: 3px solid #d1e4ff;
  background-color: #e5f0ff;
}
#lockerList p#lockerTitle {
  margin: 1%;
}

#lockers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 520px;
  max-height: 520px;
  min-width: 75%;
  max-width: 75%;
  overflow-x: scroll;
  flex-wrap: wrap;
  border: 3px solid #d1e4ff;
  background-color: #ebf5fb;
  box-shadow: 2px 2px 5px #d1e4ff;
}
#lockers button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  padding: 0;
  margin: 0.05% 0.5%;
  min-height: 95px;
  max-height: 95px;
  min-width: 70px;
  max-width: 70px;
  appearance: none;
  border: 0;
  background-color: #ebf5fb;
  background-image: url("https://i.imgur.com/7rW94bh.png");
  background-size: 70px;
  background-repeat: no-repeat;
}
#lockers button span {
  color: #e5f0ff;
  font-size: 14px;
  font-weight: 600;
}
#lockers button span p {
  font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  width: 250px;
  padding: 1%;
  border: none;
  outline: none;
  box-shadow: 0 5px 25px #d1e4ff;
  font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
  background-color: #d1e4ff;
  color: #17202a;
}
select option {
  font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
  padding: 1%;
}
@media (max-width: 1200px) {
  select option {
    font-size: 12px !important;
    max-height: 1em;
  }
}
@media (max-width: 1200px) {
  select {
    width: 200px;
  }
}

#loginDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 1%;
  width: 60%;
  background-color: white;
  border-radius: 5px;
}
@media (max-width: 650px) {
  #loginDiv {
    margin: auto;
    width: 70%;
  }
}
#loginDiv * {
  margin: 0.5vh;
}
#loginDiv span {
  text-align: center;
  font-size: 1rem;
  word-break: keep-all;
}
#loginDiv span#passwdRule {
  font-weight: 500;
}
#loginDiv form#loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#loginDiv form#loginForm .inputDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 650px) {
  #loginDiv form#loginForm .inputDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
#loginDiv form#loginForm input {
  border: 3px solid #e5f0ff;
  width: 80%;
  height: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #d1e4ff;
  transition: box-shadow 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}
@media (max-width: 650px) {
  #loginDiv form#loginForm input {
    width: 60%;
  }
}
#loginDiv form#loginForm :focus {
  outline: none;
  box-shadow: 3px 3px 3px rgba(168, 168, 168, 0.65);
}
#loginDiv form#loginForm button {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 122px;
  min-height: 48px;
  border: none;
  background-color: #ebf5fb;
  border-radius: 5px;
  transition: all 0.5s;
}
#loginDiv form#loginForm button:hover {
  background-color: #003d8e;
  color: white;
}
#loginDiv span#passwdChange {
  font-size: 0.8rem;
  color: gray;
}
#loginDiv span#passwdChange:hover {
  font-size: 0.8rem;
  color: black;
  cursor: pointer;
}
#loginDiv button {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 122px;
  min-height: 48px;
  border: none;
  background-color: #ebf5fb;
  border-radius: 5px;
  transition: all 0.5s;
}
#loginDiv #pwchangeBtn {
  min-height: 24px;
}
#loginDiv button:hover {
  background-color: #003d8e;
  color: white;
}

#topNav {
  width: 50%;
  margin: auto;
}
@media (max-width: 1200px) {
  #topNav {
    width: 80%;
  }
}
#topNav ul {
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
#topNav ul :hover {
  background-color: #d1e4ff;
}
#topNav ul li {
  text-align: center;
  padding: 1% 2%;
  list-style: none;
  border: 3px solid #d1e4ff;
  border-radius: 5px;
  background-color: #fff;
  min-width: 10%;
}

.sectorA,
.sectorB,
.sectorC,
.sectorD,
.sectorE,
.sectorF {
  cursor: pointer;
}

li.selected {
  background-color: #d1e4ff !important;
}

#registerPopupDiv #btnsWrap,
#cancelPopupDiv #btnsWrap {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  margin-top: 5px;
}
#registerPopupDiv #btnsWrap button,
#cancelPopupDiv #btnsWrap button {
  font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
  text-align: center;
  font-size: 1.0em;
  list-style: none;
  border: 3px solid #d1e4ff;
  border-radius: 5px;
  background-color: #fff;
  color: black;
}
#registerPopupDiv #btnsWrap button:hover,
#cancelPopupDiv #btnsWrap button:hover {
  background-color: #d1e4ff;
}
@media (max-width: 1200px) {
  #registerPopupDiv #btnsWrap,
#cancelPopupDiv #btnsWrap {
    min-width: 50%;
  }
}

#popup {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 15vw;
}
@media (max-width: 1200px) {
  #popup {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
#popup button {
  display: none;
  font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  list-style: none;
  border: 3px solid #d1e4ff;
  border-radius: 5px;
  background-color: #fff;
  margin: 1%;
  color: black;
}
@media (max-width: 1200px) {
  #popup button {
    display: initial;
  }
}
#popup button:hover {
  background-color: #d1e4ff;
}

#infoPopupDiv {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 25%;
  height: 200px;
  background-color: #e5f0ff;
  border: 3px solid #d1e4ff;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  #infoPopupDiv {
    width: 50%;
    height: auto;
  }
}
#infoPopupDiv span {
  text-align: center;
}
#infoPopupDiv #userRegistered,
#infoPopupDiv #userSelected {
  margin: 1%;
}

#lockermap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 3px solid #d1e4ff;
  border-radius: 5px;
  background-color: #d1e4ff;
}
@media (max-width: 1200px) {
  #lockermap {
    width: 50%;
  }
}
#lockermap img {
  height: 10vw;
  max-width: 500px;
  transition: height 1s;
}
@media (max-width: 1200px) {
  #lockermap img {
    width: 100%;
    height: auto;
  }
}
#lockermap img:active {
  height: 15vw;
  transition: height 1s;
}
@media (max-width: 1200px) {
  #lockermap img:active {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1200px) {
  #lockermap #lockermapCaution {
    display: none;
  }
}

#regist,
#cancel {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#registerPopupDiv,
#cancelPopupDiv {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 150px;
  background-color: #e5f0ff;
  border: 3px solid #d1e4ff;
}
@media (max-width: 1200px) {
  #registerPopupDiv,
#cancelPopupDiv {
    width: 70%;
  }
}
#registerPopupDiv p,
#cancelPopupDiv p {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
}
/* #registerPopupDiv button,
#cancelPopupDiv button {
  font-family: Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  list-style: none;
  border: 3px solid #d1e4ff;
  border-radius: 5px;
  background-color: #fff;
  margin: 1%;
}
#registerPopupDiv button:hover,
#cancelPopupDiv button:hover {
  background-color: #d1e4ff;
} */
@media (max-width: 1200px) {
  #registerPopupDiv,
#cancelPopupDiv {
    min-width: 50%;
  }
}

body {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  background: #7f7fd5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #91eae4, #86a8e7, #7f7fd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #6a93cb;
  background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
  background-repeat: no-repeat;
}
body header {
  width: 100%;
}
body header h1 {
  text-align: center;
  margin: 1%;
  margin-top: 3%;
  font-weight: bold;
  color: #e5f0ff;
  font-size: 2.5em;
}
@media (max-width: 650px) {
  body header {
    font-size: 1.5em;
  }
}
body footer {
  position: fixed;
  left: 1%;
  bottom: 1%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}
@media (max-width: 1200px) {
  body footer {
    position: relative;
  }
}
body footer a,
body footer a:visited {
  text-decoration: none;
  color: #17202a;
}
body footer a:hover {
  color: #d1e4ff;
}/*# sourceMappingURL=main.css.map */