@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html,
body,
header,
main,
footer {
  margin: 0;
  padding: 0;
}

@media (max-width: 650px) {
  * {
    font-size: min(3vh, 13px) !important;
  }
}

h1 {
  font-size: max(2em, 20px);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
}

.bold {
  font-weight: bold;
}

#infoDiv {
  margin: auto;
  margin-bottom: 1%;
  width: 60%;
  background-color: #e5f0ff;
  border-radius: 5px;
}
@media (max-width: 650px) {
  #infoDiv {
    margin-left: 15%;
    width: 70%;
  }
}
#infoDiv ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
}
@media (max-width: 1200px) {
  #infoDiv ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#infoDiv li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0.5vh;
}
@media (max-width: 1200px) {
  #infoDiv li {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 1vh;
    font-size: 90%;
  }
}
#infoDiv span {
  margin: 0px 5px;
}
#infoDiv span:nth-of-type(1) {
  min-width: 10rem;
}
@media (max-width: 650px) {
  #infoDiv span:nth-of-type(1) {
    min-width: 0vh;
  }
}
#infoDiv button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 1%;
  min-width: 61px;
  min-height: 24px;
  border: 2px solid #e5f0ff;
  background-color: #ebf5fb;
  box-shadow: 2px 2px 5px #d1e4ff;
  border-radius: 5px;
}

#loginDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 1%;
  width: 60%;
  background-color: #d1e4ff;
  border-radius: 5px;
}
@media (max-width: 650px) {
  #loginDiv {
    margin: auto;
    width: 70%;
  }
}
#loginDiv * {
  margin: 0.5vh;
}
#loginDiv span {
  text-align: center;
  font-size: 1rem;
}
#loginDiv span#passwdRule {
  font-weight: 500;
}

#loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#loginForm .inputDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 650px) {
  #loginForm .inputDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
#loginForm input {
  border: none;
  width: 80%;
  height: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ebf5fb;
  transition: box-shadow 0.5s;
}
@media (max-width: 650px) {
  #loginForm input {
    width: 60%;
  }
}
#loginForm :focus {
  outline: none;
  box-shadow: 3px 3px 3px #003d8e;
}
#loginForm button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 122px;
  min-height: 48px;
  border: none;
  background-color: #ebf5fb;
  box-shadow: 2px 2px 5px #d1e4ff;
  border-radius: 5px;
}
#loginForm button:hover {
  background-color: #d1e4ff;
  color: white;
}

#contactDiv {
  position: absolute;
  z-index: 999;
  left: 1%;
  bottom: 1%;
  width: 350px;
  margin: auto;
  background-color: #fff;
  border: 5px solid #e5f0ff;
  border-radius: 5px;
  box-sizing: border-box;
}
@media (max-width: 650px) {
  #contactDiv {
    margin-left: 15%;
    width: 70%;
  }
}
#contactDiv ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
}
@media (max-width: 650px) {
  #contactDiv ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#contactDiv li {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: auto;
}
@media (max-width: 650px) {
  #contactDiv li {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 1vh;
    font-size: 90%;
  }
}
#contactDiv span {
  margin: 0px 5px;
}
#contactDiv span:nth-of-type(1) {
  min-width: 10rem;
}
@media (max-width: 650px) {
  #contactDiv span:nth-of-type(1) {
    min-width: 0vh;
  }
}
#contactDiv button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: -20%;
  right: -1%;
  margin: 1%;
  min-width: 61px;
  min-height: 24px;
  border: none;
  background-color: #ebf5fb;
  box-shadow: 2px 2px 5px #d1e4ff;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#lockerlistDiv {
  margin-left: 15%;
  width: 70%;
}
#lockerlistDiv table {
  width: 100%;
}
#lockerlistDiv table tr th {
  width: 100%;
}
#lockerlistDiv table tr td {
  margin: 1%;
  padding: 1%;
  width: 20%;
  text-align: center;
  font-size: 100%;
  border: 3px solid #d1e4ff;
}

.warning {
  font-weight: bold;
  color: red;
}

nav {
  width: 30%;
  margin: auto;
}
nav ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
nav ul li {
  text-align: center;
  padding: 1%;
  list-style: none;
  border: 3px solid #d1e4ff;
}

header h1 {
  text-align: center;
}
@media (max-width: 650px) {
  header {
    font-size: 1.5vh;
  }
}

footer {
  position: fixed;
  left: 1%;
  bottom: 1%;
  text-align: center;
}
@media (max-width: 1200px) {
  footer {
    position: relative;
  }
}
footer a,
footer a:visited {
  text-decoration: none;
  color: #17202a;
}
footer a:hover {
  color: #d1e4ff;
}/*# sourceMappingURL=main.css.map */