// color
$black: #17202a;
$white: #fff;
$red: #ec7063;
$orange: #f39c12;
// super light blue
$slblue: #ebf5fb;
// light blue
$lblue: #E5F0FF;
// deep blue
$dblue: #D1E4FF;
// border blue
$bblue: #003D8E;